<%- include('/head') %>

<body>
    <%- include('/navbar.ejs') %>

    <div>
        <h1>Browsing <%= name %> on reddit</h1>
        <h2><%= description %> </h2>
        <p>Yor subscribers : <%= subscribers %></p>
        <hr>
            <% for( let post of posts) { %>
                <article>
                <p>Title : <i><%= post.title %></i>  ; Author => <b><%= post.author %></b></p> 
                    <% if(post.img) {%>
                        <img src="<%= post.img %>" alt="">
                        <% }%>
                </article>
                <% } %>
    </div>



</body>
</html>